@media (max-width: 770px) {
    nav{
        height: 10vh;
    }
    .navitems p a{
        font-size: 1.2rem;
        margin-right: 1.2rem;
    }
    .logo{
        margin-left: 1rem;
    }
    .logo img{
        height: 8vh;
        width:49vw;
    }
    .heropart p{
        text-align: justify;
    }
    .heropart h1{
        font-size: 2.5rem;
    }
    .intro1{
        height: auto;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .right{
        width: 100%;
    }
    .right h2{
        white-space: nowrap;
    }
    .right p{
        padding: 1rem 1rem;
        text-align: justify;
        /* padding: 2rem 0; */
    }
    .intro2{
        height: auto;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1rem;
    }
    .heropart p:last-child{
        font-weight: 800;
        padding-top: 2rem;
        text-align: center;
    }
}